header.masthead {
    background: url('https://assets.volvo.com/is/image/VolvoInformationTechnologyAB/Gilbert-1?qlt=82&wid=768&ts=1670908760397&dpr=off&fit=constrain') ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  
  header.masthead>.overlay {
    padding: 5rem 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
  }